In [17]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [25]:
# labels_path = tf.keras.utils.get_file(
#     '/Users/treyshanks/Workspace/creature_vision/data/meta/ImageNetLabels.txt','https://storage.googleapis.com/download.tensorflow.org/data/ImageNetLabels.txt')
# imagenet_labels = np.array(open(labels_path).read().splitlines())

Downloading data from https://storage.googleapis.com/download.tensorflow.org/data/ImageNetLabels.txt
10484/10484 ━━━━━━━━━━━━━━━━━━━━ 0s 1us/step

In [27]:
labels_path = "/Users/treyshanks/Workspace/creature_vision/data/meta/ImageNetLabels.txt"
imagenet_labels = np.array(open(labels_path).read().splitlines())
df = pd.DataFrame(imagenet_labels, columns=['label'])

In [28]:
df

                  label
0            background
1                 tench
2              goldfish
3     great white shark
4           tiger shark
...                 ...
996           earthstar
997    hen-of-the-woods
998              bolete
999                 ear
1000      toilet tissue

[1001 rows x 1 columns]

In [29]:
mask = df['label'].str.contains('dog', case=False)
result = df[mask]
result

                          label
154                 Maltese dog
230        Old English sheepdog
231           Shetland sheepdog
239  Greater Swiss Mountain dog
240        Bernese mountain dog
246              French bulldog
249                  Eskimo dog
276         African hunting dog
538                     dogsled
935                      hotdog